/*---------------------------------------- Cart Section Styling ----------------------------------------*/

.cart-div {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.cart-div h1 {
    color: #333;
}

.cart-div ul {
    list-style-type: none;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
}

.cart-div ul li {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-cover {
    width: 80px;
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
}

figcaption {
    font-size: 0.9em;
    color: #555;
}

.cart-div .final-price {
    margin-top: 15px;
}

.cart-div button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 10px;
}

.cart-div button:hover {
    background-color: #0056b3;
}

.quantity-buttons {
    display: flex;
    align-items: center;
}

.quantity-buttons button {
    margin: 0 5px;
}

@media all and (max-width: 800px) {
  .cart-div ul li {
      flex-direction: column;
  }
}

.checkout-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkout-div a{
    padding: 3px 7px;
    margin: 10px 0 0;
    background-color: #4CAF50;
    border-radius: 10%;
    color: white;
}

.checkout-div a:hover{
    background-color: #45a049;
}

.checkout-div .disabled-checkout-btn {
    background-color: gray;
    color: white;
}

.checkout-div .disabled-checkout-btn:hover {
    background-color: #3a3737;
    color: white;
}
