/* ---------------------------- general ---------------------------- */
li {
    list-style-type: none;
}
/* Styling for the top navigation bar */
#topnav {
    background-color: #dcbab2;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#topnav #logo a{
    margin: 0;
    padding: 0;
}

#topnav nav {
    flex-grow: 2;
    text-align: left;
}

#topnav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

#topnav a:hover {
    color: #f0e68c;
}

#logo-img {
    max-height: 70px;
    max-width: 70px;
    border-radius: 50%;
}

/* ---------------------------- sidebar ---------------------------- */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #463e3c;
    overflow-x: hidden;
    transition: 1.2s;
    align-items: center;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar li{
    display: flex;
    flex-direction: row;
    color: #fff;
}

.sidebar li .fst-pair{
    display: flex;
    flex-direction: column;
    width: 100px;
    row-gap: 5px;
    margin-bottom: 20px;
}

.sidebar li .secnd-pair{
    display: flex;
    flex-direction: column;
    width: 200px;
    row-gap: 5px;
    margin-bottom: 20px;
}

.sidebar li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar li img{
    width: 90%;
}

.sidebar button{
    width: auto;
    background-color: #fff5;
    border: none;
}

.sidebar .count{
    margin: 0 10px;
}

.sidebar .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sidebar .checkout div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.sidebar .checkout div:nth-child(2){
    background-color: #1c1f25;
    color: #fff;

}

.hamburger{
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.hamburger img{
    width: 30px;
}

.hamburger span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8F8F8;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 3px 7px;
    transform: scale(.9);
}


/* Hide the hamburger menu on larger screens and show it on smaller screens */
@media screen and (min-width: 768px) {
    .hamburger {
        /*display: none;*/
    }
}

/* ---------------------------- books styling ---------------------------- */
#popular-books li {
    list-style-type: none;
}

.book-cover {
    max-width: 150px;
    max-height: 300px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}




/* CSS for the entire body */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* Wrapper for page content */
#content-wrapper {
    flex: 1;
}

/* Footer styling */
#site-footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 0.8em;
}