main{
    display: flex;
    justify-content: center;
}
.profile{
    display: flex;
    flex-direction: column;
    width: 50rem;
    border-style: solid;
    align-items: center;
    align-self: center;
    padding: 1rem;
}

.profile form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile input{
    margin: .5rem;
}

.profile .input-update{
    width: 150px;
}

.profile .btn-delete{
    width: 150px;
}