.purchase-complete {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

dotlottie-player{
    align-self: center;
    padding: 0;
    margin: 0;
}

.purchase-complete h2 {
    color: #4CAF50;  /* Example color */
}

.purchase-complete a:hover{
    text-decoration: underline;
}
