{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {%  block  title %}
            My App
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    {% block links %}
{#        additional stylesheets here #}
    {% endblock %}

</head>
<body>
    {% block header %}
        <header id="topnav">
            <div id="logo">
                <a href="{% url "index" %}">
                    <img src="../static/img/bookman.png" alt="bookman logo" id="logo-img">
                </a>
            </div>
            <nav>
                <a href="/about">About</a>
                <a href="/faq">FAQ</a>
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>
                    <br>
                    <a href="/profile">Profile</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </nav>
            <button class="hamburger" id="hamburger-button">
                <img src="{% static "img/cart.png" %}" alt="cart icon">
                <span class="quantity">0</span>
            </button>
            <div id="sidebar" class="sidebar">
                <a href="/cart">Cart</a>
                <div>
                    {% for item in cart_books_in_cart %}
                        <p>{{ item.book.title }} - Qty: {{ item.quantity }} - ${{ item.total_price }}</p>
                    {% endfor %}
                </div>
                <div class="checkout">
                    <div class="total">Total: ${{ cart_final_price }}</div>
                    <div id="close-btn">Close</div>
                </div>
            </div>


        </header>
    {% endblock %}

    <div id="content-wrapper">
            {% block main %}
                
            {% endblock %}
    </div>
    {% block footer %}
    <footer id="site-footer">
        {% now 'Y' as current_year %}
        Shop App CC0 2023 - {{ current_year }}
    </footer>
    {% endblock %}

</body>
<script src="{% static "js/sidebar.js" %}"></script>

{% block javascript %}
    <script>
 
    </script>
{% endblock %}


</html>