{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {%  block  title %}
            My App
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    {% block links %}
{#        additional stylesheets here #}
    {% endblock %}

</head>
<body>
    {% block header %}
        <header id="topnav">
            <div id="logo">
                <a href="{% url "index" %}">
                    <img src="../static/img/bookman.png" alt="bookman logo" id="logo-img">
                </a>
            </div>

            <nav>
                <a href="/about">About</a>
                <a href="/faq">FAQ</a>
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>
                    <br>
                    <a href="/profile">Profile</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </nav>

            <button class="hamburger" id="hamburger-button">
                <img src="{% static "img/cart.png" %}" alt="cart icon">
                <span class="quantity">{{ total_quantity }}</span>
            </button>

            <div id="sidebar" class="sidebar">
                <a class="cart-link" href="/cart">Cart</a>
                <ul>
                    {% for item in cart_books_in_cart %}
                        <li>
                            <div class="fst-pair">
                                <div class="div1">
                                    <img src="../static/img/{{ item.book.img }}" alt="{{ item.book.title }}">
                                </div>
                                <div class="div4">
                                    <button onclick="changeQuantity">+</button>
                                    <div class="count">{{ item.quantity }}</div>
                                    <button onclick="changeQuantity">-</button>
                                </div>
                            </div>
                            <div class="secnd-pair">
                                <div class="div2">
                                    <p>{{ item.book.title }}</p>
                                </div>
                                    
                                <div class="div3">
                                    price: ${{ item.total_price }}, 2 x {{ item.book.price }}
                                </div>
                            </div>
                            
                        </li>
                    {% endfor %}
                </ul>
                <div class="checkout">
                    <div class="total">Total: ${{ cart_final_price }}</div>
                    <div id="close-btn">Close</div>
                </div>
            </div>

        </header>
    {% endblock %}

    <div id="content-wrapper">
            {% block main %}
                
            {% endblock %}
    </div>
    {% block footer %}
    <footer id="site-footer">
        {% now 'Y' as current_year %}
        Shop App CC0 2023 - {{ current_year }}
    </footer>
    {% endblock %}

</body>
<script src="{% static "js/sidebar.js" %}"></script>

{% block javascript %}
    <script>

    </script>
{% endblock %}


</html>