{% extends "base.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body %}
<main>
    <div class="about">
        <h1>About Our Bookstore</h1>
        
        <!-- Lottie Animation -->
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module" defer></script>
        <dotlottie-player src="https://lottie.host/44afe948-5d1a-496d-9bcb-9bd02544ed26/Mk61KyvdK3.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>

        <!-- Description Section -->
        <section class="store-description">
            <p>Welcome to our bookstore, a haven for book lovers and a hub for literary exploration. Our shelves are brimming with a diverse selection of titles, from timeless classics to contemporary bestsellers.</p>
            <p>Step into a world where each corner unfolds a new story, and the aroma of books creates a unique ambiance. We take pride in offering a cozy, welcoming space where readers of all ages can immerse themselves in the magic of books.</p>
        </section>

        <!-- Special Features Section -->
        <section class="special-features">
            <h2>What Makes Us Special</h2>
            <ul>
                <li>Curated Selection: Our carefully curated collection ensures that you will find something that speaks to your heart.</li>
                <li>Community Events: We host regular book readings, author signings, and literary discussions, fostering a vibrant community of book enthusiasts.</li>
                <li>Reading Nooks: Discover our cozy reading nooks, perfect for diving into your next great read.</li>
                <li>Expert Recommendations: Our knowledgeable staff are always on hand to recommend the perfect book tailored to your tastes.</li>
            </ul>
        </section>
    </div>
</main>
{% endblock %}
