{% extends "shopapp/../base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/book.css" %}">
{% endblock %}
{% block main %}
    <main>
        <h1>Single book</h1>
        <section id="single-book">
            <figure>
                <img class="book-cover" src="/static/img/{{ book.img }}" alt="book title">
                <figcaption>{{ book.author }}</figcaption>
            </figure>
            <p>{{ book.description }}</p>
            <h4>Available in stock: {{ book.stock }}</h4>
            <h3>Price: ${{ book.price }}</h3>
            <h1>book id: {{ book.id }}</h1>
            <h4>Language:
                <a href="{% url 'browse' %}?language={{ book.language|lower }}"><b>{{ book.language }}</b></a>
            </h4>
        
            <h4>Original Language: {{ book.original_language }}</h4>
            <h3>Categories:</h3>
            {% for category in categories %}
                <a href="{% url 'browse' %}?category={{ category }}" class="category-tag">
                    <b>{{ category|lower|capfirst }}</b>
                </a>
            {% endfor %}
            {% if book.read == True %}
                <form action="../books/seneka/seneka-read">
                    <input type="submit" value="Read online">
                </form>
            {% endif %}

            {% if book.stock > 0 %}
                <form class="add-to-cart-form" action="{% url 'add-to-cart' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{ book.id }}">
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" value="Add to Cart">
                </form>
            {% else %}
                <div class="tooltip">
                    <button class="not-available" data-book-id="{{ book.id }}" disabled>
                        Add to Cart
                    </button>
                    <span class="tooltiptext">Book out of stock</span>
                </div>
            {% endif %}
        <div id="message-container"></div>

        </section>

        <section id="score-section">
    {% if user.is_authenticated %}
        <h3>Rate this Book:</h3>
        <form id="score-form" action="{% url 'submit-score' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="book_id" value="{{ book.id }}">

            <div class="star-rating">
                {% for star in range_5 %}
                <input id="star-{{ star }}" type="radio" name="score" value="{{ star }}" required/>
                <label for="star-{{ star }}" title="{{ star }} stars">&#9733;</label>
                {% endfor %}
            </div>
        </form>
{#        <h3>Form 2</h3>#}
{#        <form id="score-form" action="{% url 'submit-score' %}" method="POST">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="book_id2" value="{{ book.id }}">#}
{##}
{#            <div class="star-rating">#}
{#                <h1>HERE</h1>#}
{#                {% for star in range_5 %}#}
{#                <input id="star-{{ star }}" type="radio" name="score" value="{{ star }}" required/>#}
{#                <label for="star-{{ star }}" title="{{ star }} stars">#}
{#                    &#9733;#}
{#                    <button type="submit" class="star-submit" style="display:none;"></button>#}
{#                </label>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </form>#}


    {% else %}
        <p><b>You must be logged in to rate this book.</b></p>
    {% endif %}
    <div id="average-score">
        <h3>Average Score: <span id="average-score-value">{{ average_score }}</span></h3>
    </div>
</section>


        <section id="reviews">
            <h2>Reviews</h2>
            <div id="review-list">
                {% for review in reviews %}
                    <div class="review">
                        <p>{{ review.text }}</p>
                        <small>Reviewed by {{ review.user.username }} on {{ review.created_at|date:"Y-m-d H:i" }}</small>
                    </div>
                {% empty %}
                    <p>No reviews yet.</p>
                {% endfor %}
            </div>

            {% if user.is_authenticated %}
                <form id="review-form" method="post" data-action-url="{% url 'post_review' book.id %}">
                    {% csrf_token %}
                    <textarea name="text" required></textarea>
                    <input type="submit" value="Submit Review">
                </form>

            {% else %}
                <p><b>You must be logged in to post a review.</b></p>
            {% endif %}
        </section>


    </main>
    
            <script>
            </script>
{% endblock %}

{% block javascript %}

    <script src="{% static "/js/add-to-cart.js" %}"></script>
    <script src="{% static "/js/review.js" %}"></script>
    <script src="{% static "/js/score.js" %}"></script>
{% endblock %}