{% extends "shopapp/../base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/book.css" %}">
{% endblock %}
{% block main %}
    <main>
        <h1>{{ book.title }}</h1>
        <h2>
            {% for author in book.authors %}
                {{ author }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </h2>
        <section id="single-book">
            <figure>
                <img class="book-cover" src="{{ book.img }}" alt="book title">
                <figcaption>{{ book.author }}</figcaption>
            </figure>
            <p>{{ book.description }}</p>
            <h4>Available in stock: {{ book.stock }}</h4>
            <h3>Price: ${{ book.price }}</h3>
            <h1>book id: {{ book.id }}</h1>


            <h3>Categories:</h3>
            {% for category in categories %}
                <p>{{ category }}</p>
                <a href="{% url 'browse' %}?category={{ category|urlencode }}" class="category-tag">
                    <b>{{ category}}</b>
                </a>
            {% endfor %}
            {% if book.read == True %}
                <form action="../books/seneka/seneka-read">
                    <input type="submit" value="Read online">
                </form>
            {% endif %}

            {% if book.stock > 0 %}
                <form class="add-to-cart-form" action="{% url 'add-to-cart' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{ book.id }}">
                    <input type="hidden" name="quantity" value="1">
                    <input type="submit" value="Add to Cart">
                </form>
            {% else %}
                <div class="tooltip">
                    <button class="not-available" data-book-id="{{ book.id }}" disabled>
                        Add to Cart
                    </button>
                    <span class="tooltiptext">Book out of stock</span>
                </div>
            {% endif %}
        <div id="message-container"></div>

        </section>

        <section id="score-section">
            {% if not user.is_authenticated %}
                <h3>Rate this Book:</h3>
                <form id="score-form" action="{% url 'submit-score' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{ book.id }}">
        
                    <div class="star-rating">
                        {% for star in range_5 %}
                        <input id="star-{{ star }}" type="radio" name="score" value="{{ star }}" required/>
                        <label for="star-{{ star }}" title="{{ star }} stars">&#9733;</label>
                        {% endfor %}
                    </div>
                </form>
            {% endif %}
            <div id="average-score">
                <h3>Average Score: <span id="average-score-value">{{ average_score }}</span></h3>
            </div>
        </section>


        <section id="reviews">
            <h2>Reviews ({{ review_length }})</h2>
                    {% if user.is_authenticated %}
                <form id="review-form" method="post" data-action-url="{% url 'post_review' book.id %}">
                    {% csrf_token %}
                    <textarea name="text" required></textarea>
                                    <!-- Score input for Registered Users -->
                    <div class="star-rating">
                        {% for star in range_5 %}
                        <input id="registered-star-{{ star }}" type="radio" name="score" value="{{ star }}" />
                        <label for="registered-star-{{ star }}" title="{{ star }} stars">&#9733;</label>
                        {% endfor %}
                    </div>
                    <input type="submit" value="Submit Review">
                </form>

            {% else %}
                <p><b>You must be logged in to post a review.</b></p>
            {% endif %}
            <div id="review-list">
                {% for review in reviews %}
                    <div class="review">
                        <div class="star-rating">
                            {% for i in list_5 %}
                                {% if i <= review.score %}
                                    &#9733;
                                {% else %}
                                    &#9734;
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if review.text != none %}
                            <p>{{ review.text }}</p>
                        {% endif %}
                        {% if review.user.username != None %}
                            <small>Reviewed by <i>{{ review.user.username }}</i> on {{ review.created_at|date:"Y-m-d H:i" }}</small>
                        {% else %}
                            <small>Reviewed by <i>Anonymous</i> on {{ review.created_at|date:"Y-m-d H:i" }}</small>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>No reviews yet.</p>
                {% endfor %}
            </div>


        </section>
    
    </main>
{% endblock %}

{% block javascript %}

    <script src="{% static "/js/add-to-cart.js" %}"></script>
    <script src="{% static "/js/review.js" %}"></script>
    <script src="{% static "/js/score.js" %}"></script>
{% endblock %}