{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}
{% block main %}
<main>
    <h1>Browse</h1>
    <nav class="filter">
        <form method="get" action="{% url 'browse' %}">
            <ul>
                <li>
                    <label for="free">Read online for free</label>
                    <input type="checkbox" name="free" onchange="this.form.submit()" {% if request.GET.free == 'on' %}checked{% endif %}>
                </li>
                <label for="country">Country</label>
                <select name="country" id="country" onchange="this.form.submit()">
                    <option value="none" selected="selected">Select a Country</option>
                    <option value="russia">Russia</option>
                    <option value="poland">Poland</option>
                    <option value="united kingdom">United Kingdom</option>
                    <option value="rome">Ancient Rome</option>
                    <option value="czech republic">Czech Republic</option>
                    <option value="japan">Japan</option>
                    <option value="france">France</option>
              </select>
            </ul>
        </form>
    </nav>



        <div id="popular-books">
            <ul class="books-ul">
                {% for book in books %}
                    <li>
                        {% if book %}
                        <article>
                            <figure>
                                <img class="book-cover" src="/static/img/{{ book.img }}" alt="book name">
                                 <a href="{% url "book" slug=book.slug %}">
                                    <figcaption>{{ book.author }}, {{ book.title }}</figcaption>
                                 </a>
                            </figure>
                        </article>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

</main>
{% endblock %}