{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}
{% block main %}
<main>
    <h1>Browse</h1>
    <nav class="filter">
        <form method="get" action="{% url 'browse' %}">
            <ul>
                <li>
                    <label for="free">Read online for free</label>
                    <input type="checkbox" name="free" onchange="this.form.submit()" {% if request.GET.free == 'on' %}checked{% endif %}>
                </li>
                <label for="country">Country</label>
                <select name="country" id="country" onchange="this.form.submit()">
                    <option value="none" {% if requset.GET.country == 'none' %} selected="selected" {% endif %} >Select a Country</option>
                    <option value="poland" {% if request.GET.country == 'poland' %} selected="selected" {% endif %}>Poland</option>
                    <option value="united kingdom" {% if request.GET.country == 'united kingdom' %} selected="selected" {% endif %}>United Kingdom</option>
                    <option value="russia" {% if request.GET.country == 'russia' %} selected="selected" {% endif %}>Russia</option>
                    <option value="rome" {% if request.GET.country == 'rome' %} selected="selected" {% endif %}>Ancient Rome</option>
                    <option value="czech republic" {% if request.GET.country == 'czech republic' %} selected="selected" {% endif %}>Czech Republic</option>
                    <option value="japan" {% if request.GET.country == 'japan' %} selected="selected" {% endif %}>Japan</option>
                    <option value="france" {% if request.GET.country == 'france' %} selected="selected" {% endif %}>France</option>
                </select>

                <select name="available_language" id="available_language" onchange="this.form.submit()">
                    <option value="none">Select Language</option>
                    <option value="english" {% if request.GET.available_language == 'english' %} selected="selected" {% endif %}>English</option>
                    <option value="russian" {% if request.GET.available_language == 'russian' %} selected="selected" {% endif %}>Russian</option>
                    <option value="polish" {% if request.GET.available_language == 'polish' %} selected="selected" {% endif %}>Polish</option>
                    <option value="french" {% if request.GET.available_language == 'french' %} selected="selected" {% endif %}>French</option>
                </select>
                
            </ul>
        </form>
    </nav>



        <div id="popular-books">
            <ul class="books-ul">
                {% for book in books %}
                    <li>
                        {% if book %}
                        <article>
                            <figure>
                                <img class="book-cover" src="/static/img/{{ book.img }}" alt="book name">
                                 <a href="{% url "book" slug=book.slug %}">
                                    <figcaption>{{ book.author }}, {{ book.title }}</figcaption>
                                 </a>
                            </figure>
                        </article>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

</main>
{% endblock %}