{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/cart.css" %}">
{% endblock %}
{% block main %}
<main>
    <h1>Cart</h1>
    <section class="cart-div">
        <ul>
            {% for item in cart_books_in_cart %}
            <li>
                {{ item.book.title }} -
            <figure>
                 <a href="{% url "book" slug=item.book.slug %}">
                    <img class="book-cover" src="{{ item.book.img }}" alt="book name">
                    <figcaption>{{ item.book.author }}, {{ item.book.title }}</figcaption>
                 </a>    
            </figure>
            Quantity: {{ item.quantity }}
            <button onclick="updateQuantity('{{ item.book.id }}', 1)">+</button>
            <button onclick="updateQuantity('{{ item.book.id }}', -1)">-</button>
            - Total Price: ${{ item.total_price }}
            </li>
            {% endfor %}
        </ul>
        <div class="final-price"><h3>Total Price: {{ cart_final_price }}</h3></div>
        <button>Checkout</button>
    </section>
    
</main>
{% endblock %}

{% block javascript %}
    
{% endblock %}
