{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/cart.css" %}">
{% endblock %}
{% block main %}
<main>
    <h1>Cart</h1>
    <section class="cart-div">
        <ul>
            {% for item in cart_books_in_cart %}
            <li>
                {{ item.book.title }} -
            <figure>
                 <a href="{% url "book" slug=item.book.slug %}">
                    <img class="book-cover" src="{{ item.book.img }}" alt="book name">
                    <figcaption>{{ item.book.title }}</figcaption>
                 </a>    
            </figure>
            Quantity: {{ item.quantity }}
            <button onclick="updateQuantity('{{ item.book.id }}', 1)">+</button>
            <button onclick="updateQuantity('{{ item.book.id }}', -1)">-</button>
            - Total Price: ${{ item.total_price }}
            </li>
            {% endfor %}
        </ul>
        <div class="final-price"><h3>Total Price: {{ cart_final_price }}</h3></div>
        <div class="checkout-div">
            {% if user.is_authenticated %}
            <form action="{% url 'process-purchase' %}" method="post">
                {% csrf_token %}
                <button type="submit">Checkout</button>
            </form>
            {% else %}
                <button class="disabled-checkout-btn" type="submit" title="Log in to checkout" disabled>Checkout</button>
                <a href="{% url 'login' %}" title="Login">Login</a>
            {% endif %}
        </div>

    </section>
    
    <div id="recommended-books">
            <h2>Recommended for You</h2>
            
            <div class="carousel-controls">
                <button id="carousel-next">&gt;</button>
            </div>
            <div class="carousel">
                {% for book in recommended_books %}
                    <div class="carousel-item">
                        <figure>
                            <img class="book-cover" src="{{ book.img }}" alt="book name">
                            <a href="{% url 'book' slug=book.slug %}">
                                <figcaption>
                                    {% for author in book.authors %}
                                        {{ author }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}, {{ book.title }}
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
            
            <div class="carousel-controls" id="carousel-prev-controls">
                <button id="carousel-prev">&lt;</button>
            </div>
        </div>

        <div id="most-popular-books">
            <h2>Popular Books</h2>
            
            <div class="carousel-controls">
                <button id="most-popular-carousel-next">&gt;</button>
            </div>
            <div class="carousel" id="most-popular-carousel">
                {% for book in most_popular_books %}
                    <div class="carousel-item">
                        <figure>
                            <img class="book-cover" src="{{ book.img }}" alt="{{ book.title }}">
                            <a href="{% url 'book' slug=book.slug %}">
                                <figcaption>
                                    {{ book.title }}
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
            
            <div class="carousel-controls" id="most-popular-carousel-prev-controls">
                <button id="most-popular-carousel-prev">&lt;</button>
            </div>
        </div>

</main>
{% endblock %}

{% block javascript %}
    <script src="{% static "js/carousel.js" %}"></script>
{% endblock %}
