{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/faq.css" %}">
{% endblock %}
{% block main %}
    <div class="faq-container">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

        <dotlottie-player src="https://lottie.host/1a064d79-5dfa-4a49-a82d-319e43210ec0/0y0AfJEWoW.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        <h1>FAQ</h1>
        <div class="faq">
            {% for q_a in faq %}
                {% if q_a.answer and q_a.question %}
                    <div class="faq-item">
                        <button class="faq-question">{{ q_a.question }}</button>
                        <div class="faq-answer">
                            <p>{{ q_a.answer }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

<script>
    var acc = document.getElementsByClassName("faq-question");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>


{% endblock %}
