{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/faq.css" %}">
{% endblock %}
{% block main %}
    <div class="faq-container">
        <img src="{% static 'img/faq.gif' %}" alt="FAQ" class="faq-gif">
        <h1>FAQ</h1>
        <div class="faq">
            {% for q_a in faq %}
                {% if q_a.answer and q_a.question %}
                    <div class="faq-item">
                        <button class="faq-question">{{ q_a.question }}</button>
                        <div class="faq-answer">
                            <p>{{ q_a.answer }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

<script>
    var acc = document.getElementsByClassName("faq-question");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>


{% endblock %}
