{% extends "shopapp/../base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}
{% block main %}
    <main>
        <section class="login">
            <form action="" method="POST">
                <h1>Login</h1>
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
                <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
            </form>
        </section>
    </main>
{% endblock %}
