{% extends "shopapp/../base.html" %}
{% load static  %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "css/general.css" %}">
    <link rel="stylesheet" href="{% static "css/register.css" %}">
{% endblock %}
{% block body %}
    {% block main %}
    	<main>
            <div class="register-card">
            <h1>Register</h1>
                <form action="" method="post" class="vertical">
                    {% csrf_token %}
                    <input placeholder="username" type="text" name="username">
                    <input placeholder="email" type="email" name=email"">
                    <input placeholder="password" type="password" name="password1">
                    <input placeholder="repeat password" type="password" name="password2">
                    <input value="Submit" type="submit">
                </form>
            </div>
        </main>
    {% endblock %}
{% endblock %}