{% extends 'shopapp/../base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/general.css" %}">
{% endblock %}
{% block main %}
    <main>
        <h1>Hello shop index</h1>
        <div id="popular-books">
            <ul class="books-ul">
                {% for book in books|slice:":25" %}
                    <li>
                        {% if book %}
                            <article>
                                {% if book.read %}
                                    <span class="free-badge">Read online</span>
                                {% endif %}
                                {% if book.stock < 1 %}
                                    <span class="stock-badge">Out of Stock</span>
                                {% endif %}
                                <figure>
                                    <img class="book-cover" src="{{ book.img }}" alt="book name">
                                    <a href="{% url 'book' slug=book.slug %}">
                                        <figcaption>
                                            {% for author in book.authors %}
                                                {{ author }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}, {{ book.title }}
                                        </figcaption>
                                    </a>
                                </figure>
                            </article>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </main>
{% endblock %}