{% extends 'shopapp/../base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/general.css" %}">
{% endblock %}
{% block main %}
    <main>

        <div id="most-popular-books">
            <h2>Popular Books</h2>
            
            <div class="carousel-controls">
                <button id="most-popular-carousel-next">&gt;</button>
            </div>
            <div class="carousel" id="most-popular-carousel">
                {% if most_popular_books %}
                    {% for book in most_popular_books %}
                        <div class="carousel-item">
                            <figure>
                                <img class="book-cover" src="{{ book.img }}" alt="{{ book.title }}">
                                <a href="{% url 'book' slug=book.slug %}">
                                    <figcaption>
                                        {{ book.title }}
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for book in range %}
                        <div class="carousel-item">
                            <figure>
                                <img class="book-cover" src="https://angelbookhouse.com/assets/front/img/product/edition_placeholder.png" alt="book not available">
                                <a href="">
                                    <figcaption>
                                        book not available
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="carousel-controls" id="most-popular-carousel-prev-controls">
                <button id="most-popular-carousel-prev">&lt;</button>
            </div>
        </div>

    
        <div id="recommended-books">
            <h2>Recommended for You</h2>
            
            <div class="carousel-controls">
                <button id="carousel-next">&gt;</button>
            </div>
            <div class="carousel">
                {% if recommended_books %}
                    <div class="carousel-item">
                        <figure>
                            <img class="book-cover" src="{{ book.img }}" alt="book name">
                            <a href="{% url 'book' slug=book.slug %}">
                                <figcaption>
                                    {% for author in book.authors %}
                                        {{ author }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}, {{ book.title }}
                                </figcaption>
                            </a>
                        </figure>
                    </div>  
                {% else %}
                    {% for book in range %}
                        <div class="carousel-item">
                            <figure>
                                <img class="book-cover" src="https://angelbookhouse.com/assets/front/img/product/edition_placeholder.png" alt="book not available">
                                <a href="">
                                    <figcaption>
                                        book not available
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="carousel-controls" id="carousel-prev-controls">
                <button id="carousel-prev">&lt;</button>
            </div>
        </div>

    
        <div id="list-books">
            <div id="list-books">
                {% include 'shopapp/books_list.html' %}
                <div id="load-more" style="display: none;"></div>
            </div>

        <div id="load-more" style="display: none;"></div>
        </div>

    </main>

{% endblock %}
{% block javascript %}
    <script src="{% static "/js/carousel.js" %}"></script>
    <script src="{% static '/js/book_display.js' %}"></script>
{% endblock %}