{% extends 'shopapp/../base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/general.css" %}">
{% endblock %}
{% block main %}
    <main>

        <div id="most-popular-books">
            <h2>Popular Books</h2>
            
            <div class="carousel-controls">
                <button id="most-popular-carousel-next">&gt;</button>
            </div>
            <div class="carousel" id="most-popular-carousel">
                {% for book in most_popular_books %}
                    <div class="carousel-item">
                        <figure>
                            <img class="book-cover" src="{{ book.img }}" alt="{{ book.title }}">
                            <a href="{% url 'book' slug=book.slug %}">
                                <figcaption>
                                    {{ book.title }}
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
            
            <div class="carousel-controls" id="most-popular-carousel-prev-controls">
                <button id="most-popular-carousel-prev">&lt;</button>
            </div>
        </div>

    
        <div id="recommended-books">
            <h2>Recommended for You</h2>
            
            <div class="carousel-controls">
                <button id="carousel-next">&gt;</button>
            </div>
            <div class="carousel">
                {% for book in recommended_books %}
                    <div class="carousel-item">
                        <figure>
                            <img class="book-cover" src="{{ book.img }}" alt="book name">
                            <a href="{% url 'book' slug=book.slug %}">
                                <figcaption>
                                    {% for author in book.authors %}
                                        {{ author }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}, {{ book.title }}
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
            
            <div class="carousel-controls" id="carousel-prev-controls">
                <button id="carousel-prev">&lt;</button>
            </div>
        </div>

    
        <div id="list-books">
            <ul class="books-ul">
                {% for book in books|slice:":25" %}
                    <li>
                        {% if book %}
                            <article>
                                {% if book.read %}
                                    <span class="free-badge">Read online</span>
                                {% endif %}
                                {% if book.stock < 1 %}
                                    <span class="stock-badge">Out of Stock</span>
                                {% endif %}
                                <figure>
                                    <img class="book-cover" src="{{ book.img }}" alt="book name">
                                    <a href="{% url 'book' slug=book.slug %}">
                                        <figcaption>
                                            {% for author in book.authors %}
                                                {{ author }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}, {{ book.title }}
                                        </figcaption>
                                    </a>
                                </figure>
                            </article>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </main>

{% endblock %}
{% block javascript %}
    <script src="{% static "/js/carousel.js" %}"></script>
{% endblock %}