{% extends "shopapp/../base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock %}
{% block main %}
    <main>
        <section class="profile">
            {% if user.is_authenticated %}
                <h2>Profile {{ user.username }}</h2>
                <p>Email {{ user.email }}</p>
                <p>Phone {{ phone }}</p>
                <p>Joined: {{ user.date_joined }}</p>
                
                {% if not email_verified %}
                    <p style="background-color: indianred">Your email is not verified. Please check your email for the verification link.</p>
                    <form method="post" action="">
                        {% csrf_token %}
                        <button type="submit" name="resend_email">Resend Verification Email</button>
                    </form>
                    {% if email_resent %}
                        <p>A verification email has been resent to your email address.</p>
                    {% endif %}
                {% else %}
                    <p style="background-color: lawngreen">Your email is verified.</p>
                {% endif %}
                
            {% else %}
                <h1>User's not authenticated</h1>
                <h2>{{ error }}</h2>
            {% endif %}
            {% if user_activities %}
                <p>IP: {{ user_activities.1 }}</p>
                <p>Browser: {{ user_activities.2 }}</p>
                <p>Operating System: {{ user_activities.3 }}</p>
                <p>Location: {{ user_activities.4 }}</p>
            {% endif %}
            <form action="{% url "profile-update-page" %}">
                <input type="submit" value="update profile details">
            </form>
            <form action="{% url "password-change-page" %}">
                <input type="submit" value="change password">
            </form>
            <button id="delete-account-btn" class="btn-delete">Delete account</button>
        </section>
    
            <!-- Modal -->
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Are you sure you want to delete your account? This action cannot be undone!</p>
                <form action="{% url "profile-delete" %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    </main>

        <script>
            var modal = document.getElementById("deleteModal");
            var deleteBtn = document.getElementById("delete-account-btn");
            var closeBtn = document.getElementsByClassName("close")[0];
            
            deleteBtn.onclick = function() {
                modal.style.display = "block";
            }
    
            closeBtn.onclick = function() {
                modal.style.display = "none";
            }
    
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
    </script>
    
{% endblock %}